#root {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.app {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: #f5f5f5;
}

.main-content {
  flex: 1;
  display: flex;
  overflow: hidden;
  position: relative;
}
